*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
h2{
    font-family: $tfont 'Amatic SC';
    color:rgb(255, 94, 0);
}
h3{
    margin: 130px auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:$tfont;
    color:orange;
    font-size:50px;

    span img {
        padding-bottom: 20px;
        display: inline-flex;
        justify-content: center;
        width: 100px;
        background-repeat: no-repeat;
    }
    
}
h4{
    font-family: $tfont;
    font-size: 30px;
}
img:hover{
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    border-radius: 30px;
    transition: all 0.6s ease-in-out;
}
.thewedding .gallery .getintouch{
    background-color: $clightgrey;
    width: 1800px;
}

