$cblack:#0000;
$cwhite:#ffff;
$clightblack:#363636;
$cgrey:rgb(143, 143, 143);
$tfont:'Amatic SC';
$clightgrey:rgba(241, 241, 241, 0.6);
$bodyfont:'Source Sans Pro', sans-serif;
$border-radius-small: 10px;